<h2 class="mt-12 mb-6 text-center font-medium">Translator</h2>
<form [formGroup]="translatorForm" (ngSubmit)="handleSubmit()">
  <section class="grid md:grid-cols-2 gap-4">
    <div class="flex flex-col">
      <nav mat-tab-nav-bar [tabPanel]="tabPanel" class="mb-2">
        <a
          mat-tab-link
          *ngFor="let option of languageFromOptions"
          (click)="translatorForm.value.translateFrom = option.value"
          [active]="translatorForm.value.translateFrom == option.value"
        >
          {{ option.name }}
        </a>
      </nav>
      <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
      <textarea
        type="text"
        formControlName="textToTranslate"
        class="input-design"
        rows="6"
      ></textarea>
    </div>
    <div class="flex flex-col">
      <nav mat-tab-nav-bar [tabPanel]="tabPanel" class="mb-2">
        <a
          mat-tab-link
          *ngFor="let option of languageToOptions"
          (click)="translatorForm.value.translateTo = option.value"
          [active]="translatorForm.value.translateTo == option.value"
        >
          {{ option.name }}
        </a>
      </nav>
      <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
      <textarea
        type="text"
        disabled
        [value]="translatedText"
        class="input-design"
        rows="6"
      ></textarea>
    </div>
  </section>

  <button class="mt-8" mat-raised-button color="primary" type="submit">
    Translate
  </button>
</form>
