<section class="max-w-xl p-4 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full">
  <section class="p-4 md:p-6 bg-secondary rounded-xl w-full shadow-[0_3px_10px_rgb(0,0,0,0.2)] border-gray-700 border">
    <h1 class="mb-6 font-bold text-center">Registration</h1>
    <form [formGroup]="registrationForm" (ngSubmit)="handleSubmit()">
      <div class="grid grid-cols-1 gap-6">
        <div class="flex flex-col">
          <label>E-mail *</label>
          <input type="text" autofocus autocomplete="email" formControlName="email" class="input-design" />
          <app-input-field-error-text
            *ngIf="registrationForm.value.email && registrationForm.controls.email.errors?.['email']"
            [errorText]="'Not valid email address.'"
          >
          </app-input-field-error-text>
        </div>
        <div class="flex flex-col">
          <label>Password *</label>
          <input type="password" formControlName="password" class="input-design" />
          <app-input-field-error-text
            *ngIf="registrationForm.value.password && registrationForm.controls.password.errors?.['minlength']"
            [errorText]="'Password has to contain at least 6 characters.'"
          >
          </app-input-field-error-text>
        </div>
      </div>
      <button class="mt-8 mb-4" mat-raised-button color="primary" type="submit">Register</button>
      <p>Click <a routerLink="/login" class="underline">here</a> to login</p>
    </form>
  </section>
</section>
