<h1 class="text-center">Add New Word</h1>

<ng-container *ngIf="quizService.languageOptions">
  <form [formGroup]="addNewWordForm" (ngSubmit)="handleSubmit()">
    <section class="grid md:grid-cols-2 gap-4">
      <div class="flex flex-col">
        <label>{{ quizService.languageOptions.primaryLanguage }}</label>
        <input
          type="text"
          formControlName="primaryLanguage"
          class="p-2 rounded-md bg-transparent border-[1px]"
        />
      </div>
      <div class="flex flex-col">
        <label>{{ quizService.languageOptions.secondaryLanguage }}</label>
        <input
          type="text"
          formControlName="secondaryLanguage"
          class="p-2 rounded-md bg-transparent border-[1px]"
        />
      </div>
    </section>

    <button class="mt-8" mat-raised-button color="primary" type="submit">
      Add Word
    </button>
  </form>
  <app-translator></app-translator>
</ng-container>
