<h1 class="text-center">Practice Settings</h1>

<section class="max-w-2xl bg-secondary rounded-xl m-auto p-4">
  <form [formGroup]="quizService.settingsForm" (ngSubmit)="handleSubmit()">
    <section class="grid grid-cols-1 sm:grid-cols-2 gap-5">
      <div class="flex flex-col">
        <label>Language From *</label>
        <select
          class="p-2 rounded-md bg-transparent border-[1px]"
          formControlName="languageFrom"
        >
          <option *ngFor="let option of languageOptions" [value]="option">
            {{ option }}
          </option>
        </select>
      </div>
      <div class="flex flex-col">
        <label>Language To *</label>
        <select
          class="p-2 rounded-md bg-transparent border-[1px]"
          formControlName="languageTo"
        >
          <option *ngFor="let option of languageOptions" [value]="option">
            {{ option }}
          </option>
        </select>
      </div>
    </section>
    <section class="flex flex-row mt-4 items-center">
      <input
        id="randomCheckbox"
        type="checkbox"
        formControlName="randomLanguage"
      />
      <label for="randomCheckbox" class="ml-2">Make it random</label>
    </section>

    <div class="text-center mt-10">
      <button type="submit" mat-raised-button color="primary">
        Start Practice
      </button>
    </div>
  </form>
</section>
