<section
  class="max-w-xl p-4 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full"
>
  <section class="p-4 bg-secondary rounded-xl w-full">
    <h1 class="mb-6 font-bold text-center">Add new password</h1>
    <form [formGroup]="newPasswordForm" (ngSubmit)="handleSubmit()">
      <div class="grid grid-cols-1 gap-6">
        <div class="flex flex-col">
          <label>New Password *</label>
          <input
            type="password"
            autofocus
            formControlName="password"
            class="p-2 rounded-md bg-transparent border-[1px]"
          />
        </div>
        <div class="flex flex-col">
          <label>New Password again *</label>
          <input
            type="password"
            autofocus
            formControlName="passwordAgain"
            class="p-2 rounded-md bg-transparent border-[1px]"
          />
        </div>
      </div>
      <div class="text-center">
        <button
          class="mt-8 mb-4"
          mat-raised-button
          color="primary"
          type="submit"
        >
          Change password
        </button>
      </div>
    </form>
  </section>
</section>
