<section class="max-w-xl p-4 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full">
  <section class="p-4 md:p-6 bg-secondary rounded-xl w-full shadow-[0_3px_10px_rgb(0,0,0,0.2)] border-gray-700 border">
    <h1 class="mb-10 font-bold text-center">Create profile</h1>
    <form [formGroup]="newProfileForm" (ngSubmit)="handleSubmit()">
      <div class="flex flex-col">
        <label class="mb-2">Name *</label>
        <input type="text" formControlName="name" class="input-design" />
      </div>

      <div class="flex flex-col mt-10">
        <label class="mb-2">What is your primary language? *</label>
        <select type="text" formControlName="primaryLanguage" class="input-design">
          <option *ngFor="let option of languageOptions" [value]="option">
            {{ option }}
          </option>
        </select>
      </div>

      <div class="flex flex-col mt-10">
        <label class="mb-2">Which language would you like to study? *</label>
        <select type="text" formControlName="secondaryLanguage" class="input-design">
          <option *ngFor="let option of languageOptions" [value]="option">
            {{ option }}
          </option>
        </select>
      </div>
      <div class="text-center">
        <button class="mt-8 mb-4" mat-raised-button color="primary" type="submit" [disabled]="loading">Create</button>
      </div>
    </form>
  </section>
</section>
