<section
  class="max-w-xl p-4 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full"
>
  <section class="p-4 bg-secondary rounded-xl w-full">
    <h1 class="mb-6 font-bold text-center">Sign In</h1>
    <form [formGroup]="loginForm" (ngSubmit)="handleSubmit()">
      <div class="grid grid-cols-1 gap-6">
        <div class="flex flex-col">
          <label>E-mail *</label>
          <input
            type="text"
            autofocus
            autocomplete="email"
            formControlName="email"
            class="p-2 rounded-md bg-transparent border-[1px]"
          />
        </div>
        <div class="flex flex-col">
          <label>Password *</label>
          <input
            type="password"
            formControlName="password"
            class="p-2 rounded-md bg-transparent border-[1px]"
          />
        </div>
      </div>
      <button class="mt-8 mb-4" mat-raised-button color="primary" type="submit">
        Login
      </button>
      <button
        class="mt-8 mb-4 ml-8"
        mat-raised-button
        color="primary"
        (click)="testUserLogin()"
        type="button"
      >
        Test User Login
      </button>
      <p>
        Click <a routerLink="/registration" class="underline">here</a> to
        register
      </p>
    </form>
  </section>
</section>
