<ng-container *ngIf="profiles">
  <section
    class="max-w-xl p-4 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full"
  >
    <section class="p-4 bg-secondary rounded-xl w-full">
      <h1 class="mb-10 font-bold text-center">Choose profile</h1>
      <section class="flex flex-row flex-wrap justify-evenly">
        <ng-container *ngFor="let profile of profiles">
          <button
            class="border-[1px] border-white rounded-xl mx-2 my-4 max-w-[200px] basis-1/2 min-w-[90px] min-h-[90px] flex justify-center items-center hover:border-2"
            (click)="setProfile(profile.id)"
          >
            {{ profile.name }}
          </button>
        </ng-container>
      </section>

      <div class="text-center">
        <button
          class="mt-8 mb-4"
          mat-raised-button
          routerLink="/create-profile"
          color="primary"
          type="button"
        >
          Create New Profile
        </button>
      </div>
    </section>
  </section>
</ng-container>
