<h1 class="text-center">My Words</h1>

<ng-container *ngIf="!loading">
  <form
    [formGroup]="searchForm"
    (ngSubmit)="searchSubmit()"
    class="relative mb-8 max-w-4xl mx-auto"
  >
    <input
      type="text"
      placeholder="Search"
      formControlName="searchInput"
      class="p-2 rounded-md bg-transparent border-[1px] w-full pr-10"
    />
    <button
      type="submit"
      class="absolute top-1/2 right-0 transform -translate-x-1/2 -translate-y-1/2 flex items-center"
    >
      <mat-icon>search</mat-icon>
    </button>
  </form>
</ng-container>

<ng-container *ngIf="words && !loading">
  <div
    class="flex flex-row p-4 bg-secondary uppercase text-tetriary1 font-medium"
  >
    <span class="mr-4">Id</span>
    <div class="flex flex-row w-full">
      <span class="flex-1 px-2">Hun</span>
      <span class="flex-1 px-2">Eng</span>
    </div>
    <span class="ml-10"></span>
  </div>

  <div *ngFor="let word of words; let i = index">
    <div
      class="flex flex-row bg-secondary border-[1px] border-primary text-tetriary2 items-center pl-4 p-1"
    >
      <span class="mr-4">{{ i + 1 }}</span>
      <div class="flex flex-row w-full">
        <span class="flex-1 px-2 items-center flex">{{ word.hun }}</span>
        <span class="flex-1 px-2 items-center flex">{{ word.eng }}</span>
      </div>
      <button (click)="goToDetailsPage(word.id)" mat-icon-button>
        <mat-icon class="text-base">edit</mat-icon>
      </button>
    </div>
  </div>

  <div class="mt-6 flex justify-center">
    <div class="bg-secondary flex flex-row justify-center rounded-full">
      <button mat-icon-button (click)="goToPrevPage()">
        <mat-icon class="text-base">keyboard_arrow_left</mat-icon>
      </button>
      <span class="flex items-center px-2">{{ page }}</span>
      <button mat-icon-button (click)="goToNextPage()">
        <mat-icon class="text-base">keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!words && !loading! && !searchParam">
  <div class="text-center">
    <p>You haven't added any word yet!</p>
    <button
      [routerLink]="'/add-word'"
      class="mt-6"
      mat-raised-button
      color="primary"
      type="button"
    >
      Add Word
    </button>
  </div>
</ng-container>

<ng-container *ngIf="!words && !loading! && searchParam">
  <div class="text-center">
    <p>There are no words matching the search criteria.</p>
    <button
      (click)="clearSearchInput()"
      class="mt-6"
      mat-raised-button
      color="primary"
      type="button"
    >
      Clear Search Input
    </button>
  </div>
</ng-container>
